<h1>Add</h1>
<form  #f="ngForm" (submit)="add_insurance(f)" name="theform">
  <div class="row">
    <div class="col">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" class="form-control" [(ngModel)]="insurance.insurancecompany">
    </div>
    <div class="col">
      <label for="membership">Membership</label>
      <input type="text" id="membership" class="form-control" [(ngModel)]="subInsurance.membership">
    </div>
    <div class="col">
      <label for="discount">Discount</label>
      <input type="text" id="discount" class="form-control" [(ngModel)]="subInsurance.discount">
    </div>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success btn-block" type="submit">Submit</button>
  </div>
</form>
