<h1>Add</h1>
<form>
  <div class="row">
    <div class="col">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" class="form-control">
    </div>
    <div class="col">
      <label for="companyBranch">Company Branch</label>
      <input type="text" id="companyBranch" class="form-control">
    </div>
    <div class="col">
      <label for="discount">Discount</label>
      <input type="text" id="discount" class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success btn-block" type="submit">Submit</button>
  </div>
</form>
