<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""/>
        <!--          <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                  </div>-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
          {{patient.firstname}} {{patient.lastname}}
        </h5>
        <h6>
          {{patient.dateofbirth}}
        </h6>
        <p class="proile-rating"><span>{{patient.personalID}}</span></p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payments"
               aria-selected="false">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family"
               aria-selected="false">Family</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>side</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>First Name</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.firstname}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Second Name</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.secondname}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Third Name</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.thirdname}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Last Name</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.lastname}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.phonenumber}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Insuace Company</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.insurancecompany}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Insurance ID</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.insuranceID}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Sub Insurance ID</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.subinsuranceID}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Address</label>
            </div>
            <div class="col-md-6">
              <p>{{patient.address}}</p>
            </div>
          </div>
        </div>
        <!--Second Tab-->
        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="profile-tab">
          <h3>Payments</h3>
          <div class="row">
            <div class="col-md-6">
              <label for="fromdate">From</label>
              <input type="date" class="custom-select" name="fromdate" id="fromdate" (change)="onDateChanged()"
                     [(ngModel)]="fromdate">
            </div>
            <div class="col-md-6">
              <label for="todate">To</label>
              <input type="date" class="custom-select" name="todate" id="todate" (change)="onDateChanged()"
                     [(ngModel)]="todate">
            </div>
          </div>
          <hr>
          <div class="row" *ngFor="let x of payments">
            <div class="col-md-6">
              <label>{{x.amount}}</label>
            </div>
            <div class="col-md-6">
              <p>{{x.duedate}}</p>
            </div>
          </div>
        </div>
        <!--Third Tab-->
        <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="profile-tab">
          <h3>Family</h3>
          <div class="row">
            <div class="col-md-3">
              <label>First Name</label>
            </div>
            <div class="col-md-3">
              <label>Relationship</label>
            </div>
            <div class="col-md-3">
              <label>ID</label>
            </div>
          </div>

          <div class="row" *ngFor="let x of family">
            <div class="col-md-3">
              <label>{{x.firstname}}</label>
            </div>
            <div class="col-md-3">
              <label>{{x.relationship}}</label>
            </div>
            <div class="col-md-3">
              <a [routerLink]="['../',x.id]">{{x.id}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="row">

  <div class="col-lg-3">
    <img class="rounded-circle profile-img" [src]="src" height="150" width="150" alt="User Profile"/>
    <h3>{{getFullName() | uppercase}}</h3>
    <button type="button" ngxFilePicker accept="image/*"
            (filePick)='onFilePicked($event)' mat-button class="btn btn-dark">Edit Profile Picture
    </button>
  </div>
  <div class="col-lg-4">
    <form [formGroup]="myFormGroup">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <input [readonly]="disable" formControlName="personalID" matInput placeholder="Personal ID"
                   [(ngModel)]="user.personalID">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="name" matInput placeholder="First Name"
                   [(ngModel)]="user.firstname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="secondName" matInput placeholder="Second Name"
                   [(ngModel)]="user.secondname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="thirdName" matInput placeholder="Third Name"
                   [(ngModel)]="user.thirdname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="lastName" matInput placeholder="Last Name"
                   [(ngModel)]="user.lastname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="gender" matInput placeholder="Gender"
                   [(ngModel)]="user.gender">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="address" matInput placeholder="Address"
                   [(ngModel)]="user.address">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="email" matInput placeholder="Email" [(ngModel)]="user.email">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="phonenumber" matInput placeholder="Phone No."
                   [(ngModel)]="user.phonenumber">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="insurancecompany" matInput placeholder="Insurance Company"
                   [(ngModel)]="user.insurancecompany">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input [readonly]="disable" formControlName="insuranceID" matInput placeholder="Insurance ID"
                   [(ngModel)]="user.insuranceID">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col button">
    <button (click)="makeEditable()" class="btn editButton mat-button btn-dark">Edit</button>
  </div>
</div>
-->
