.profile-img {
}

.row {
  height: 1000%;
  box-sizing: border-box;

}

.col-lg-3 {

  min-height: 500px;
  border-right: 2px solid black;
  margin-top: 1vh;
  text-align: center;

  img {
    margin-top: 5vh;
  }

  button {
    margin-top: 1vh;
  }
}
form{
  margin-top: 15%;
}
.button{
  width: 100%;
  text-align: center;
}
.editButton{
  width: 10%;
}
