<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""/>
          <!--          <div class="file btn btn-lg btn-primary">
                      Change Photo
                      <input type="file" name="file"/>
                    </div>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{patient.firstname}} {{patient.lastname}}
          </h5>
          <h6>
            {{patient.dateofbirth}}
          </h6>
          <p class="proile-rating"><span>{{patient.personalID}}</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payments"
                 aria-selected="false">Payments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family"
                 aria-selected="false">Family</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a [routerLink]="['edit']">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </a>
        <a [routerLink]="['../']">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Back"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>side</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.firstname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Second Name</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.secondname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Third Name</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.thirdname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.lastname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.phonenumber}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Insuace Company</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.insurancecompany}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Insurance ID</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.insuranceID}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Sub Insurance ID</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.subinsuranceID}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address</label>
              </div>
              <div class="col-md-6">
                <p>{{patient.address}}</p>
              </div>
            </div>
          </div>
          <!--Second Tab-->
          <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="profile-tab">
            <h3>Payments</h3>
            <div class="row" *ngFor="let x of payments">
              <div class="col-md-6">
                <label>{{x.amount}}</label>
              </div>
              <div class="col-md-6">
                <p>{{x.duedate}}</p>
              </div>
            </div>
          </div>
          <!--Third Tab-->
          <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="profile-tab">
            <h3>Family</h3>
            <div class="row">
              <div class="col-md-3">
                <label>First Name</label>
              </div>
              <div class="col-md-3">
                <label>Relationship</label>
              </div>
              <div class="col-md-3">
                <label>ID</label>
              </div>
            </div>

            <div class="row" *ngFor="let x of family">
              <div class="col-md-3">
                <label>{{x.firstname}}</label>
              </div>
              <div class="col-md-3">
                <label>{{x.relationship}}</label>
              </div>
              <div class="col-md-3">
                <a [routerLink]="['../',x.id]">{{x.id}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
