<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<pre>{{getCurrentModel()}}</pre>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <label for="fromdate">From: </label>
      <input type="date"
             id="fromdate"
             name="fromdate"
             [(ngModel)]="fromdate"
             class="form-control"
             (change)="dateChanged()">
    </div>
    <div class="col">
      <label for="todate">From: </label>
      <input type="date"
             id="todate"
             name="todate"
             [(ngModel)]="todate"
             class="form-control"
             (change)="dateChanged()">
    </div>
    <div class="col">
      <label for="doctor">Select Doctor</label>
      <select class="custom-select"
              id="doctor"
              name="doctor"
              #doctorValue
              (change)="doctorSelected(doctorValue.value)"
              [(ngModel)]="selectedDoctor">
        <option selected> -- Doctor --</option>
        <option *ngFor="let x of doctors" [value]="[x.empID]">{{getDoctorName(x.empID)}} [{{x.empID}}]</option>
      </select>
    </div>
  </div>
  <hr>
  <table id="tablePreview"
         class="table table-hover table-striped table-bordered"
         style="background: white;">
    <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>PatientID</th>
      <th>Clinic</th>
      <th>Doctor</th>
      <th>Date</th>
      <th>From</th>
      <th>Checked</th>
      <th>Payment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of filteredAppointment; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{x.appID}}</td>
      <td>{{x.patientID}}</td>
      <td>{{getClinicName(x.clinicID)}}</td>
      <td>{{getDoctorName(x.empID)}}</td>
      <td>{{x.adate}}</td>
      <td>{{x.slottime}}</td>
      <td *ngIf="x.checkin == 0">
        <button type="button"
                (click)="checkin(x)"
                class="btn btn-danger btn-sm">
          Check in
        </button>
      </td>
      <td *ngIf="x.checkin == 1">
        <button type="button"
                class="btn btn-success btn-sm"
                disabled>
          Checked
        </button>
      </td>
      <td>
        <button (click)="openAddComponent(x.patientID)"
                class="btn btn-info btn-sm">
          Add funds
          <!--<span class="fa-stack">-->
          <!--<i class="fa fa-money-bill-alt"></i>-->
          <!--</span>-->
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--Table-->
</div>


<!--
<div class="container">
  <div class="row">
    <hr>
    <kendo-scheduler [kendoSchedulerBinding]="events"
                     [selectedDate]="selectedDate"
                     startTime="07:00"
                     style="height: 600px;">
      <kendo-scheduler-day-view>
      </kendo-scheduler-day-view>

      <kendo-scheduler-week-view>
      </kendo-scheduler-week-view>

      <kendo-scheduler-month-view>
      </kendo-scheduler-month-view>

      <kendo-scheduler-timeline-view>
      </kendo-scheduler-timeline-view>

      <kendo-scheduler-agenda-view>
      </kendo-scheduler-agenda-view>
    </kendo-scheduler>

    <hr>
  </div>
</div>
-->
