<div class="row">
  <div class="col-md-12 text-center">
    <mat-form-field>
      <mat-label>Clinics</mat-label>
      <mat-select [(value)]="selctedClicnic">
        <mat-option *ngFor="let clinic of clinics" [value]="clinic">
          {{clinic.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <mat-form-field>
      <mat-label>Doctors</mat-label>
      <mat-select (selectionChange)="print()" [(value)]="selctedDoctor">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{doctor.firstname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row ">
  <div class="col-md-6 text-center">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
    <div>

      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div>

      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="patientEvents"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="my-list">
      <div (click)="!isReserved(appointment.start) && setTime(appointment.start, appointment.end)"
           *ngFor="let appointment of available" class="list-item text-center"
           [ngStyle]="{'background-color': isReserved(appointment.start) ? 'red' : 'white'}">
        {{appointment.start}}-{{appointment.end}}
      </div>
    </div>
    <button (click)="save()" class="btn btn-dark">Submit</button>
    <h6 *ngIf="showError">{{errorMessage}}</h6>
  </div>
</div>
