<h1>Schedule Generator</h1>
<div class="container" style="text-align: center;">
  <form>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3>Select Days</h3>
        <p-multiSelect [options]="days"
                       [(ngModel)]="selectedDays"
                       [panelStyle]="{minWidth:'12em'}"
                       name="daysOfWeek"
                       [maxSelectedLabels]="7"
        ></p-multiSelect>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3>From Time</h3>
        <p-calendar [(ngModel)]="selectedFromTime" [timeOnly]="true" name="fromtime"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3>To Time</h3>
        <p-calendar [(ngModel)]="selectedToTime" [timeOnly]="true" name="totime"></p-calendar>

      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3>Slot Time</h3>
        <p-spinner [(ngModel)]="selectedSlotTime" [min]="0" [max]="60" [step]="5" name="slottime"></p-spinner>

      </div>
    </div>
    <div class="row">
      <hr>
      <kendo-scheduler [kendoSchedulerBinding]="events"
                       [selectedDate]="selectedDate"
                       startTime="07:00"
                       style="height: 600px;">
        <kendo-scheduler-day-view>
        </kendo-scheduler-day-view>

        <kendo-scheduler-week-view>
        </kendo-scheduler-week-view>

        <kendo-scheduler-timeline-view>
        </kendo-scheduler-timeline-view>

        <kendo-scheduler-agenda-view>
        </kendo-scheduler-agenda-view>
      </kendo-scheduler>

      <hr>
    </div>
    <div class="row" style="margin-bottom: 1em;">
      <div class="col">
        <button class="btn btn-primary btn-block" (click)="onGenerate()">Generate</button>
      </div>
      <div class="col">
        <button class="btn btn-success btn-block" type="submit" (click)="onSubmit()">Submit</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-block" type="reset" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>
